/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.sidenav {
  background-color: #1a1d3a;
}

.sidenav li>a {
  color: #ffffff;
}

#index-banner {
  color: #000000;
  background-color: transparent;
  background-image: url("/public/assets/images/Balance-2.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: auto;
}

.icon-block {
  padding: 20px;
  text-align: center;
  background-color: transparent;
  margin: 10px;
}

h2 {
  font-size: 3.56rem;
  line-height: 110%;
  margin: 0rem 0 1.424rem 0;
}

a img {
  position: absolute;
  max-height: 40px;
  margin-top: 0.65rem;
  margin-bottom: .65rem;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height:250px;
}


  /* label focus color */
  .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #3f51b5 !important;
   }

/* label underline focus color */
   .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #3f51b5 !important;
    box-shadow: 0 1px 0 0 #3f51b5 !important;
   }