/* Custom Stylesheet */
/*
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 300;
 }

 h1{
   margin-left: 30px;
   text-align: center;
   font-weight: 300;
   letter-spacing: .3em;   
 }

 h2{
   margin-top: 1.373333rem;
 }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.sidenav {
  background-color: #1a1d3a;
}

.sidenav li>a {
  color: #ffffff;
}

#index-banner {
  color: #000000;
  background-color: transparent;
  background-image: url("/public/assets/images/Balance-2.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: auto;
}

.icon-block {
  padding: 20px;
  text-align: center;
  background-color: transparent;
  margin: 10px;
}

a img {
  position: absolute;
  max-height: 40px;
  margin-top: 0.65rem;
  margin-bottom: .65rem;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height:250px;
}


  /* label focus color */
  .input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #3f51b5 !important;
   }

/* label underline focus color */
   .input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #3f51b5 !important;
    box-shadow: 0 1px 0 0 #3f51b5 !important;
   }

   input[type=range]+.thumb {
    background-color: #3f51b5 !important;
   }

   input[type=range]::-webkit-slider-thumb {
    background-color: #3f51b5;
  }
  input[type=range]::-moz-range-thumb {
    background-color: #3f51b5;
  }
  input[type=range]::-ms-thumb {
    background-color: #3f51b5;
  }

  .moods {
  align-content: center;
}

/* Chart for mood tracking */
#chart {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 20px;
}

/* Mood Icons */
#moods {
  align-content: center;
  position: relative; 
  left: 33%;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Actitity Icons */
.fas {
  /* color: #1a0964; */
  /* padding: 20px; */
 margin-left: 35px; 
 margin-top: 10px;
 }

/* Icon Container - Activities */
.iconContainer {
  width: 100%;
  padding: 25px;
  /* margin-left: 10px; */
  border: 1px solid #1a0964;
  margin-bottom: 40px;
 } 

 /* Icon Heading */
 h6 {
   text-align: center;
   /* margin-left: 25px; */
 }

 /* Activity tracking entry */
.container-blog {
  padding-top: 20px;
  /* margin-left: 20px; */
}

/* Label for form */
label {
  font-size: large;
  color: black;
}

/* Style for input */
.activity{
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.track-header{
  margin-left: 22%;
}

#pie {
  margin-bottom: 40px;
}